XTerm*faceName: xft:monospace:size=8
XTerm*foreground: #ffffff
XTerm*background: #000000
XTerm*allowBoldFonts: true
XTerm*saveLines: 6000
XTerm*scrollTtyOutput: false
XTerm*scrollTtyKeypress: true
XTerm*scrollBar: false
XTerm*cursorBlink: true


URxvt*font: xft:monospace:size=8:antialias:false
URxvt.letterSpace: -1
URxvt*allowBoldFonts: true
URxvt*loginShell: true
URxvt*vt100*geometry: 80x50
URxvt*saveLines: 6000
URxvt*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
URxvt*eightBitInput: false
URxvt*boldMode: true
URxvt*colorBDMode: true
URxvt*colorBD: rgb:fc/fc/fc
URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true
URxvt*scrollBar: false
URxvt*depth: 32
URxvt*cursorBlink: true
URxvt*foreground: #ffffff
URxvt*background: #000000

! Normal
! color0    black
! color1    red
! color2    green
! color3    yellow
! color4    blue
! color5    purple
! color6    cyan
! color7    white
!
URxvt*color0:    #262626
URxvt*color1:    #e60000
URxvt*color2:    #31bd77
URxvt*color3:    #999900
URxvt*color4:    #3786e6
URxvt*color5:    #9933ff
URxvt*color6:    #33cccc
URxvt*color7:    #ffffff
!
! Light
! color8    black
! color9    red
! color10    green
! color11    yellow
! color12    blue
! color13    purple
! color14    cyan
! color15    white
!
URxvt*color8:    #595959
URxvt*color9:    #ff3333
URxvt*color10:    #67d69f
URxvt*color11:    #e6e600
URxvt*color12:    #4d94ff
URxvt*color13:    #996bc7
URxvt*color14:    #1affff
URxvt*color15:    #e2e2e2


